/* PROJECT STYLES */

/* GOOGLE FONTS */

/* ROOT */

:root {
    --my-color: #123456;

}

/* BASE STYLES */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
}s

a {
    text-decoration: none;
}

button {
    border: 0;
}

/* PAGE STYLES */

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: 100%;
    height: 100%;
}

.site-nav {
    flex: 0;
}

.site-header {
    flex: 0;
}

.mouse-pad {
    flex: 1;
}

.site-footer {
    flex: 0;
}